code/NodeRED.json
[{"id":"3be96e94.4e0d4a","type":"tab","label":"Main","disabled":false,"info":""},{"id":"39fe2bd5.ec763c","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"8372f97c.304f78","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f3e2cb36.8fb27","type":"key-value-store","z":"39fe2bd5.ec763c","filepath":"store.json","namespace":"","name":""},{"id":"e3f2de66.937fb","type":"key-value-store","z":"","filepath":"store.json","namespace":"","name":""},{"id":"2576624b.1ba756","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"13af654a.e0b4cb","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"487e87a8.f53c4","type":"ui_group","z":"","name":"WARMS","tab":"13af654a.e0b4cb","disp":true,"width":"6","collapse":false},{"id":"9b9376b6.7e7358","type":"function","z":"39fe2bd5.ec763c","name":"PumpWater","func":"if (msg.payload > 700) {\n    return { enable: true };\n} else {\n    return { enable: false }\n}","outputs":1,"noerr":0,"x":350,"y":200,"wires":[[]]},{"id":"d5906b09.51f938","type":"key-value-write","z":"39fe2bd5.ec763c","store":"f3e2cb36.8fb27","action":"set","key":"f","keyvalue":"aa","name":"","x":330,"y":300,"wires":[[]]},{"id":"7c4a0ad7.e411fc","type":"inject","z":"39fe2bd5.ec763c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["d5906b09.51f938"]]},{"id":"5e279876.134d68","type":"mqtt in","z":"3be96e94.4e0d4a","name":"Temparture","topic":"warms/temp","qos":"0","broker":"8372f97c.304f78","x":150,"y":40,"wires":[["cbe97a4c.f7a69"]]},{"id":"cbe97a4c.f7a69","type":"ui_chart","z":"3be96e94.4e0d4a","name":"","group":"487e87a8.f53c4","order":1,"width":0,"height":0,"label":"Values","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570,"y":80,"wires":[[],[]]},{"id":"c3f9fb5.1ee4b08","type":"mqtt in","z":"3be96e94.4e0d4a","name":"Humidity","topic":"warms/hum","qos":"0","broker":"8372f97c.304f78","x":140,"y":120,"wires":[["cbe97a4c.f7a69"]]},{"id":"b94b464.0402a38","type":"mqtt in","z":"3be96e94.4e0d4a","name":"Luminance","topic":"warms/lum","qos":"0","broker":"8372f97c.304f78","x":140,"y":200,"wires":[["22e61081.06adc8"]]},{"id":"d908cdba.51b45","type":"mqtt in","z":"3be96e94.4e0d4a","name":"Moisture 0","topic":"warms/moi0","qos":"0","broker":"8372f97c.304f78","x":140,"y":300,"wires":[["bdb467fc.71dde","216253e9.1f52bc"]]},{"id":"9d1fd73f.151ac","type":"mqtt in","z":"3be96e94.4e0d4a","name":"Moisture 1","topic":"warms/moi1","qos":"0","broker":"8372f97c.304f78","x":140,"y":360,"wires":[["67659bc1.138a14","216253e9.1f52bc"]]},{"id":"bdb467fc.71dde","type":"ui_chart","z":"3be96e94.4e0d4a","name":"","group":"487e87a8.f53c4","order":3,"width":0,"height":0,"label":"Moisture 0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":300,"wires":[[],[]]},{"id":"67659bc1.138a14","type":"ui_chart","z":"3be96e94.4e0d4a","name":"","group":"487e87a8.f53c4","order":5,"width":0,"height":0,"label":"Moisture 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":360,"wires":[[],[]]},{"id":"216253e9.1f52bc","type":"function","z":"3be96e94.4e0d4a","name":"Calc","func":"const min_humidity = 530;\nconst mot_duration_on = '3000';\nconst mot_duration_off = '0000'\nconst feed_moi0 = 'warms/moi0';\nconst feed_moi1 = 'warms/moi1';\nconst ctx_name_moi0 = 'moi0';\nconst ctx_name_moi1 = 'moi1';\nconst ctx_name_timestamp = 'timestamp';\nconst initial_value = 0;\nvar reset_value = false;\n\nvar ts = context.get(ctx_name_timestamp) || Date.now();\ncontext.set(ctx_name_timestamp, Date.now());\nif ((Date.now() - ts) > 10 * 1000) { // If the last function call is more than 4 min. ago, then discard the the value of the other call\n    reset_value = true;\n}\n\nvar moi0 = context.get(ctx_name_moi0) || initial_value;\nvar moi1 = context.get(ctx_name_moi1) || initial_value;\n\nif (msg.topic == feed_moi0) {\n    if (reset_value) {\n        context.set(ctx_name_moi1, initial_value);\n        moi1 = initial_value;\n    }\n    moi0 = {payload: msg.payload};\n    context.set(ctx_name_moi0, moi0);  // save last value in local context\n}\n\nif (msg.topic == feed_moi1) {\n    if (reset_value) {\n        context.set(ctx_name_moi0, initial_value);\n        moi0 = initial_value;\n    }\n    moi1 = {payload: msg.payload};\n    context.set(ctx_name_moi1, moi1); // save last value in local context\n}\n\nif (moi0 != initial_value) {\n    if (moi1 != initial_value) {\n        var mot_cmd;\n        // Humidity of sensor moi0 below min level?\n        if (moi0.payload > min_humidity) {\n            mot_cmd = mot_duration_on;\n        } else {\n            mot_cmd = mot_duration_off;\n        }\n        // Humidity of sensor moi1 below min level?\n        if (moi1.payload > min_humidity) {\n            mot_cmd += mot_duration_on;\n        } else {\n            mot_cmd += mot_duration_off;\n        }\n        // At least one pump to activate?\n        if (mot_cmd != '00000000') {\n            return [{payload: mot_cmd}, {payload: mot_cmd.substring(0, 4)}, {payload: mot_cmd.substring(4 ,8)}, {payload: \"HEARBEAT\"}];\n        } else {\n            return [null, null, null, {payload: \"HEARBEAT\"}];\n        }\n    }\n}","outputs":4,"noerr":0,"x":370,"y":480,"wires":[["994a8747.b3b2a"],["7b1dd25c.8b19ec"],["412a3c3a.c84ee4"],["f34ea07.ecd83e"]]},{"id":"994a8747.b3b2a","type":"mqtt out","z":"3be96e94.4e0d4a","name":"Pumps","topic":"warms/pumps","qos":"0","retain":"","broker":"8372f97c.304f78","x":580,"y":440,"wires":[]},{"id":"7b1dd25c.8b19ec","type":"ui_chart","z":"3be96e94.4e0d4a","name":"Watering 0","group":"487e87a8.f53c4","order":4,"width":0,"height":0,"label":"Watering 0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"5000","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":500,"wires":[[],[]]},{"id":"412a3c3a.c84ee4","type":"ui_chart","z":"3be96e94.4e0d4a","name":"Watering 1","group":"487e87a8.f53c4","order":6,"width":0,"height":0,"label":"Watering 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"5000","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":560,"wires":[[],[]]},{"id":"22e61081.06adc8","type":"ui_chart","z":"3be96e94.4e0d4a","name":"Temparture","group":"487e87a8.f53c4","order":2,"width":0,"height":0,"label":"Luminence","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":200,"wires":[[],[]]},{"id":"f34ea07.ecd83e","type":"http request","z":"3be96e94.4e0d4a","name":"AliveService","method":"GET","ret":"txt","url":"http://1.1.1.1/alive","tls":"","x":590,"y":660,"wires":[["d152c814.88d5e"]]},{"id":"fc96a7f2.979368","type":"ui_text","z":"3be96e94.4e0d4a","group":"487e87a8.f53c4","order":0,"width":0,"height":0,"name":"Last hearbeat","label":"Last hearbeat:","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":660,"wires":[]},{"id":"d152c814.88d5e","type":"switch","z":"3be96e94.4e0d4a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\"OK\"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":660,"wires":[["ad224331.85263"],["738df5c9.5d9c64"]],"outputLabels":["OK","NOK"]},{"id":"ad224331.85263","type":"function","z":"3be96e94.4e0d4a","name":"Hearbeat","func":"// Create a Date object from the payload\nvar date = new Date();\n// Change the payload to be a formatted Date string\n//var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nmsg.payload = date.toLocaleString(\"de-CH\");\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":620,"wires":[["fc96a7f2.979368"]]},{"id":"738df5c9.5d9c64","type":"function","z":"3be96e94.4e0d4a","name":"Error","func":"return msg;","outputs":1,"noerr":0,"x":930,"y":700,"wires":[["fc96a7f2.979368"]]}]
